---
http_interactions:
- request:
    method: post
    uri: https://www.blackbookws.com/UsedCarWSX.asmx
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:tns=\"https://blackbookws.com/UsedCarWSX\"
        xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"><env:Header><UserCredentials
        xmlns=\"https://blackbookws.com/UsedCarWSX\">\n            <userid>xxxxx</userid>\n
        \           <password>xxxxx</password>\n            <customer/>\n            <producttype>W</producttype>\n
        \           <returncode>0</returncode>\n            <returnmessage/>\n          </UserCredentials></env:Header><env:Body><tns:Makes><tns:sCountryCode>U</tns:sCountryCode><tns:sYear>2013</tns:sYear></tns:Makes></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - ! '"https://blackbookws.com/UsedCarWSX/Makes"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Header><UserCredentials
        xmlns="https://blackbookws.com/UsedCarWSX"><userid>xxxxx</userid><password>xxxxx</password><customer
        /><producttype>W</producttype><returncode>0</returncode><returnmessage>success
        - (makes)</returnmessage></UserCredentials></soap:Header><soap:Body><MakesResponse
        xmlns="https://blackbookws.com/UsedCarWSX"><MakesResult><makes><make>Acura</make><make>Audi</make><make>BMW</make><make>Buick</make><make>Cadillac</make><make>Chevrolet</make><make>Chrysler</make><make>Dodge</make><make>Fiat</make><make>Ford</make><make>Freightliner</make><make>GMC</make><make>Honda</make><make>Hyundai</make><make>Infiniti</make><make>Jaguar</make><make>Jeep</make><make>Kia</make><make>Land
        Rover</make><make>Lexus</make><make>Lincoln</make><make>Mazda</make><make>Mercedes-Benz</make><make>Mini</make><make>Mitsubishi</make><make>Nissan</make><make>Porsche</make><make>Ram</make><make>Scion</make><make>Smart</make><make>Subaru</make><make>Suzuki</make><make>Toyota</make><make>Volkswagen</make><make>Volvo</make></makes></MakesResult></MakesResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 06 Jun 2013 17:34:34 GMT
recorded_with: VCR 2.5.0
