---
http_interactions:
- request:
    method: post
    uri: https://www.blackbookws.com/UsedCarWSX.asmx
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:tns=\"https://blackbookws.com/UsedCarWSX\"
        xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"><env:Header><UserCredentials
        xmlns=\"https://blackbookws.com/UsedCarWSX\">\n            <userid>xxxxx</userid>\n
        \           <password>xxxxx</password>\n            <customer/>\n            <producttype>W</producttype>\n
        \           <returncode>0</returncode>\n            <returnmessage/>\n          </UserCredentials></env:Header><env:Body><tns:Models><tns:sCountryCode>U</tns:sCountryCode><tns:sYear>2013</tns:sYear><tns:sMake>Ford</tns:sMake></tns:Models></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - ! '"https://blackbookws.com/UsedCarWSX/Models"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Header><UserCredentials
        xmlns="https://blackbookws.com/UsedCarWSX"><userid>xxxxx</userid><password>xxxxx</password><customer
        /><producttype>W</producttype><returncode>0</returncode><returnmessage>success
        - (models)</returnmessage></UserCredentials></soap:Header><soap:Body><ModelsResponse
        xmlns="https://blackbookws.com/UsedCarWSX"><ModelsResult><models><model>C-Max</model><model>Commercial
        Vans</model><model>E150 Vans</model><model>E250 Vans</model><model>E350 Vans</model><model>Edge</model><model>Escape</model><model>Expedition</model><model>Expedition
        EL</model><model>Explorer</model><model>F150</model><model>F250SD</model><model>F350SD</model><model>F450SD</model><model>Fiesta</model><model>Flex</model><model>Focus</model><model>Fusion</model><model>Mustang</model><model>Taurus</model><model>Transit
        Connect</model></models></ModelsResult></ModelsResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 06 Jun 2013 17:34:36 GMT
recorded_with: VCR 2.5.0
