---
http_interactions:
- request:
    method: post
    uri: https://www.blackbookws.com/UsedCarWSX.asmx
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="https://blackbookws.com/UsedCarWSX" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><UserCredentials xmlns="https://blackbookws.com/UsedCarWSX">
                    <userid>xxxx</userid>
                    <password>xxxx</password>
                    <customer/>
                    <producttype>W</producttype>
                    <returncode>0</returncode>
                    <returnmessage/>
                  </UserCredentials></env:Header><env:Body><tns:CurrentVINValues><tns:sCountryCode>U</tns:sCountryCode><tns:sFrequencyCode>W</tns:sFrequencyCode><tns:sVIN>1D7HW22K45S177616</tns:sVIN><tns:iMileage>50000</tns:iMileage><tns:sState>IL</tns:sState><tns:iExtraCleanAddDeductAdj>0</tns:iExtraCleanAddDeductAdj><tns:iCleanAddDeductAdj>0</tns:iCleanAddDeductAdj><tns:iAverageAddDeductAdj>0</tns:iAverageAddDeductAdj><tns:iRoughAddDeductAdj>0</tns:iRoughAddDeductAdj><tns:bFillDrilldown>false</tns:bFillDrilldown><tns:bReturnMileage>true</tns:bReturnMileage><tns:bReturnAddDeducts>true</tns:bReturnAddDeducts></tns:CurrentVINValues></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"https://blackbookws.com/UsedCarWSX/CurrentVINValues"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Header><UserCredentials
        xmlns="https://blackbookws.com/UsedCarWSX"><userid>xxxx</userid><password>xxxx</password><customer
        /><producttype>W</producttype><returncode>0</returncode><returnmessage>success
        - (getVINValues)</returnmessage></UserCredentials></soap:Header><soap:Body><CurrentVINValuesResponse
        xmlns="https://blackbookws.com/UsedCarWSX"><CurrentVINValuesResult><valueArray><BBValue><country>U</country><frequency>W</frequency><year>2005</year><make>Dodge</make><model>Dakota</model><series>ST</series><style>Club
        Cab 4WD</style><vin_year>5</vin_year><whole_xclean>0</whole_xclean><whole_clean>9050</whole_clean><whole_avg>7425</whole_avg><whole_rough>4650</whole_rough><retail_xclean>0</retail_xclean><retail_clean>11550</retail_clean><retail_avg>9500</retail_avg><retail_rough>6250</retail_rough><tradein_clean>9195</tradein_clean><tradein_avg>7570</tradein_avg><tradein_rough>4415</tradein_rough><finadv>8925</finadv><base_whole_xclean>0</base_whole_xclean><base_whole_clean>8275</base_whole_clean><base_whole_avg>6450</base_whole_avg><base_whole_rough>4650</base_whole_rough><mileage_adj_whole_xclean>0</mileage_adj_whole_xclean><mileage_adj_whole_clean>775</mileage_adj_whole_clean><mileage_adj_whole_avg>975</mileage_adj_whole_avg><mileage_adj_whole_rough>0</mileage_adj_whole_rough><ad_adj_whole_xclean>0</ad_adj_whole_xclean><ad_adj_whole_clean>0</ad_adj_whole_clean><ad_adj_whole_avg>0</ad_adj_whole_avg><ad_adj_whole_rough>0</ad_adj_whole_rough><reg_adj_whole_xclean>0</reg_adj_whole_xclean><reg_adj_whole_clean>0</reg_adj_whole_clean><reg_adj_whole_avg>0</reg_adj_whole_avg><reg_adj_whole_rough>0</reg_adj_whole_rough><base_retail_xclean>0</base_retail_xclean><base_retail_clean>10775</base_retail_clean><base_retail_avg>8525</base_retail_avg><base_retail_rough>6250</base_retail_rough><mileage_adj_retail_xclean>0</mileage_adj_retail_xclean><mileage_adj_retail_clean>775</mileage_adj_retail_clean><mileage_adj_retail_avg>975</mileage_adj_retail_avg><mileage_adj_retail_rough>0</mileage_adj_retail_rough><ad_adj_retail_xclean>0</ad_adj_retail_xclean><ad_adj_retail_clean>0</ad_adj_retail_clean><ad_adj_retail_avg>0</ad_adj_retail_avg><ad_adj_retail_rough>0</ad_adj_retail_rough><reg_adj_retail_xclean>0</reg_adj_retail_xclean><reg_adj_retail_clean>0</reg_adj_retail_clean><reg_adj_retail_avg>0</reg_adj_retail_avg><reg_adj_retail_rough>0</reg_adj_retail_rough><base_tradein_clean>8420</base_tradein_clean><base_tradein_avg>6595</base_tradein_avg><base_tradein_rough>4415</base_tradein_rough><mileage_adj_tradein_clean>775</mileage_adj_tradein_clean><mileage_adj_tradein_avg>975</mileage_adj_tradein_avg><mileage_adj_tradein_rough>0</mileage_adj_tradein_rough><ad_adj_tradein_clean>0</ad_adj_tradein_clean><ad_adj_tradein_avg>0</ad_adj_tradein_avg><ad_adj_tradein_rough>0</ad_adj_tradein_rough><reg_adj_tradein_clean>0</reg_adj_tradein_clean><reg_adj_tradein_avg>0</reg_adj_tradein_avg><reg_adj_tradein_rough>0</reg_adj_tradein_rough><base_finadv>8150</base_finadv><mileage_adj_finadv>775</mileage_adj_finadv><ad_adj_finadv>0</ad_adj_finadv><reg_adj_finadv>0</reg_adj_finadv><resid12>0</resid12><resid24>0</resid24><resid30>0</resid30><resid36>0</resid36><resid42>0</resid42><resid48>0</resid48><resid60>0</resid60><resid72>0</resid72><base_resid12>0</base_resid12><base_resid24>0</base_resid24><base_resid30>0</base_resid30><base_resid36>0</base_resid36><base_resid42>0</base_resid42><base_resid48>0</base_resid48><base_resid60>0</base_resid60><base_resid72>0</base_resid72><mileage_adj_resid12>0</mileage_adj_resid12><mileage_adj_resid24>0</mileage_adj_resid24><mileage_adj_resid30>0</mileage_adj_resid30><mileage_adj_resid36>0</mileage_adj_resid36><mileage_adj_resid42>0</mileage_adj_resid42><mileage_adj_resid48>0</mileage_adj_resid48><mileage_adj_resid60>0</mileage_adj_resid60><mileage_adj_resid72>0</mileage_adj_resid72><ad_adj_resid12>0</ad_adj_resid12><ad_adj_resid24>0</ad_adj_resid24><ad_adj_resid30>0</ad_adj_resid30><ad_adj_resid36>0</ad_adj_resid36><ad_adj_resid42>0</ad_adj_resid42><ad_adj_resid48>0</ad_adj_resid48><ad_adj_resid60>0</ad_adj_resid60><ad_adj_resid72>0</ad_adj_resid72><end_of_term_value>0</end_of_term_value><region2>0</region2><region3>0</region3><region4>0</region4><region5>0</region5><region6>0</region6><ab_province>0</ab_province><bc_province>0</bc_province><mb_province>0</mb_province><nb_province>0</nb_province><nl_province>0</nl_province><nt_province>0</nt_province><ns_province>0</ns_province><nu_province>0</nu_province><on_province>0</on_province><pe_province>0</pe_province><qc_province>0</qc_province><sk_province>0</sk_province><yt_province>0</yt_province><group_number>7565</group_number><msrp>22635</msrp><ert>25474</ert><mileage_category>B</mileage_category><actualdate>6/3/2013</actualdate><full_vin>1D7HW22K5</full_vin><full_uvc>2005240648</full_uvc><model_number>ND5L33</model_number><veh_class>K</veh_class><wheel_base>0</wheel_base><taxable_hp>0</taxable_hp><gvw>0</gvw><bbr_score>N/A</bbr_score><bbf_rating>N/A</bbf_rating></BBValue></valueArray><mileageArray><BBMileage><vin_year>5</vin_year><beginrange>40001</beginrange><endrange>50000</endrange><extraclean>0</extraclean><clean>775</clean><average>975</average><rough>0</rough><finadv>775</finadv><mileage_cat>B</mileage_cat></BBMileage></mileageArray><addDeductArray><BBAddDeduct><uoc>B9</uoc><description>4.7L
        V8</description><groupnum>7565</groupnum><extraclean>100</extraclean><clean>100</clean><average>100</average><rough>100</rough><auto>N</auto><res12>0</res12><res24>0</res24><res30>0</res30><res36>0</res36><res42>0</res42><res48>0</res48><res60>0</res60><res72>0</res72></BBAddDeduct><BBAddDeduct><uoc>09</uoc><description>Power
        Windows</description><groupnum>7565</groupnum><extraclean>400</extraclean><clean>400</clean><average>400</average><rough>400</rough><auto>N</auto><res12>0</res12><res24>0</res24><res30>0</res30><res36>0</res36><res42>0</res42><res48>0</res48><res60>0</res60><res72>0</res72></BBAddDeduct><BBAddDeduct><uoc>03</uoc><description>w/o
        Factory Air</description><groupnum>7565</groupnum><extraclean>-375</extraclean><clean>-375</clean><average>-375</average><rough>-375</rough><auto>N</auto><res12>0</res12><res24>0</res24><res30>0</res30><res36>0</res36><res42>0</res42><res48>0</res48><res60>0</res60><res72>0</res72></BBAddDeduct><BBAddDeduct><uoc>05</uoc><description>w/o
        Auto Trans</description><groupnum>7565</groupnum><extraclean>-600</extraclean><clean>-600</clean><average>-600</average><rough>-600</rough><auto>N</auto><res12>0</res12><res24>0</res24><res30>0</res30><res36>0</res36><res42>0</res42><res48>0</res48><res60>0</res60><res72>0</res72></BBAddDeduct></addDeductArray><modelnumberArray><BBModelNumber><full_uvc>2005240648</full_uvc><model_number>ND5L33</model_number></BBModelNumber></modelnumberArray></CurrentVINValuesResult></CurrentVINValuesResponse></soap:Body></soap:Envelope>
  recorded_at: Wed, 05 Jun 2013 15:54:27 GMT
recorded_with: VCR 2.5.0
