---
http_interactions:
- request:
    method: post
    uri: https://www.blackbookws.com/UsedCarWSX.asmx
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:tns=\"https://blackbookws.com/UsedCarWSX\"
        xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"><env:Header><UserCredentials
        xmlns=\"https://blackbookws.com/UsedCarWSX\">\n            <userid>xxxxx</userid>\n
        \           <password>xxxxx</password>\n            <customer/>\n            <producttype>W</producttype>\n
        \           <returncode>0</returncode>\n            <returnmessage/>\n          </UserCredentials></env:Header><env:Body><tns:CurrentValues><tns:sCountryCode>INVALID</tns:sCountryCode><tns:sFrequencyCode>W</tns:sFrequencyCode><tns:sYear>2013</tns:sYear><tns:sMake>Ford</tns:sMake><tns:sModel>Fiesta</tns:sModel><tns:sSeries>SE</tns:sSeries><tns:sStyle>4D
        Hatchback</tns:sStyle><tns:iMileage>10000</tns:iMileage><tns:sState>IL</tns:sState><tns:iExtraCleanAddDeductAdj>0</tns:iExtraCleanAddDeductAdj><tns:iCleanAddDeductAdj>0</tns:iCleanAddDeductAdj><tns:iAverageAddDeductAdj>0</tns:iAverageAddDeductAdj><tns:iRoughAddDeductAdj>0</tns:iRoughAddDeductAdj><tns:bFillDrilldown>false</tns:bFillDrilldown><tns:bReturnMileage>true</tns:bReturnMileage><tns:bReturnAddDeducts>true</tns:bReturnAddDeducts></tns:CurrentValues></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - ! '"https://blackbookws.com/UsedCarWSX/CurrentValues"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Header><UserCredentials
        xmlns="https://blackbookws.com/UsedCarWSX"><userid>xxxxx</userid><password>xxxxx</password><customer
        /><producttype>W</producttype><returncode>31</returncode><returnmessage>Invalid
        or missing country code</returnmessage></UserCredentials></soap:Header><soap:Body><CurrentValuesResponse
        xmlns="https://blackbookws.com/UsedCarWSX"><CurrentValuesResult /></CurrentValuesResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 06 Jun 2013 17:34:30 GMT
recorded_with: VCR 2.5.0
