---
http_interactions:
- request:
    method: post
    uri: https://www.blackbookws.com/UsedCarWSX.asmx
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:tns=\"https://blackbookws.com/UsedCarWSX\"
        xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"><env:Header><UserCredentials
        xmlns=\"https://blackbookws.com/UsedCarWSX\">\n            <userid>xxxxx</userid>\n
        \           <password>xxxxx</password>\n            <customer/>\n            <producttype>W</producttype>\n
        \           <returncode>0</returncode>\n            <returnmessage/>\n          </UserCredentials></env:Header><env:Body><tns:Years><tns:sCountryCode>U</tns:sCountryCode></tns:Years></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - ! '"https://blackbookws.com/UsedCarWSX/Years"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Header><UserCredentials
        xmlns="https://blackbookws.com/UsedCarWSX"><userid>xxxxx</userid><password>xxxxx</password><customer
        /><producttype>W</producttype><returncode>0</returncode><returnmessage>success
        - (years)</returnmessage></UserCredentials></soap:Header><soap:Body><YearsResponse
        xmlns="https://blackbookws.com/UsedCarWSX"><YearsResult><years><year>2014</year><year>2013</year><year>2012</year><year>2011</year><year>2010</year><year>2009</year><year>2008</year><year>2007</year><year>2006</year><year>2005</year><year>2004</year><year>2003</year><year>2002</year><year>2001</year><year>2000</year><year>1999</year></years></YearsResult></YearsResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 06 Jun 2013 17:34:31 GMT
recorded_with: VCR 2.5.0
